---
import { Image } from 'astro:assets';
import englishFlag from "../assets/images/flags/english-flag.png";
import spanishFlag from "../assets/images/flags/spanish-flag.png";
import { languages } from '../i18n/ui';

const { pathname } = new URL(Astro.request.url);
const langPrefix = pathname.split('/')[1];
const newPathEnglish = pathname.replace(`/${langPrefix}`, '/en');
const newPathSpanish = pathname.replace(`/${langPrefix}`, '/es');

// Redirect user to the preferred language on initial load
if (typeof window !== 'undefined') {
  const savedLanguage = localStorage.getItem('preferredLanguage');
  if (savedLanguage) {
    const newPath = pathname.replace(`/${langPrefix}`, `/${savedLanguage}`);
    if (newPath !== pathname) {
      window.location.replace(newPath);
    }
  }
}
---

<div class="language-picker flex items-center space-x-2 mr-1">
  <a href="#" id="englishLink" class="flex items-center">
    <Image src={englishFlag} alt="English flag" class="w-7 h-5 mr-1" />
    {languages.en}
  </a>
  <span>/</span>
  <a href="#" id="spanishLink" class="flex items-center">
    <Image src={spanishFlag} alt="Spanish flag" class="w-7 h-5 mr-1" />
    {languages.es}
  </a>
</div>

<script>
  document.getElementById('englishLink').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent default anchor behavior
    setLanguage('en');
  });

  document.getElementById('spanishLink').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent default anchor behavior
    setLanguage('es');
  });

  function setLanguage(lang) {
    localStorage.setItem('preferredLanguage', lang);
    const currentPath = window.location.pathname;
    window.location.href = currentPath.replace(/\/(en|es)/, `/${lang}`);
  }
</script>
